.container {
  .wrapper {
    border: 2px solid orange;
    background-color: rgb(39, 37, 37);
    width: fit-content;
    border-radius: 50px;
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    .title {
      font-size: 20px;
      color: white;
      font-weight: bold;
    }
  }
  .wrapper:hover {
    background-color: orange;
    .title {
      color: white;
    }
  }
}
