.container {
  color: white;
  padding: 5% 2%;
  .wrapper {
    // background-color: aqua;
    display: flex;
    flex-direction: column;
    row-gap: 50px;

    .top {
      text-align: center;
      .title {
        color: white;
      }
      .span {
        color: orange;
      }
    }
    .bottom {
      // background-color: antiquewhite;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      gap: 25px;
      .bottomContainer {
        // background-color: aqua;

        .bottomWrapper {
        
          max-width: 550px;
          width: 100%;
          max-height: 650px;
          height: 100%;
          min-height: 350px;
          border: 1px solid white;
          border-radius: 23px;
          background-color: rgb(45, 43, 43);
          .bottomTop {
            padding: 3%;
            border-bottom: 1px solid white;
            .subTitle {
              font-size: 32px;
              font-weight: bold;
              text-align: center;
            }
          }
          .bottomBottom {
            display: flex;
            flex-direction: column;
            row-gap: 12px;
            justify-content: center;
            align-items: center;
            padding: 15px 15px;
            .logo {
              .img {
                width: 150px;
                height: 75px;
              }
            }
            .buttonContainer {
              .button {
                background-color: orange;
                color: white;
              }
            }
          }
        }
      }
    }
  }
}
.title,
.span {
  font-weight: bold;
  font-size: 40px;
}
